<!DOCTYPE html>
<html>
<head>
  <title>Instant T-shirt</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Baumans" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
